*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body::before{
    content: "";
    background: url(./bg.jpg) no-repeat center;
    background-size: auto;
    background-position: center;
    object-fit: cover;
    width: 150%;
    height: 150%;
    position: absolute;
    left: -50px;
    top: -50px;
    transition: all 0.2s ease-in-out;
}

.container{
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    padding: auto 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 5px 1px gray;
    z-index: 1;
}

.timeBox{
    position: absolute;
    background-color: transparent;
    height: 40px;
    top: 40%;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
}
.search-box{
    width: 200px;
    transition: all 0.3s ease-in-out;
}
.container:hover .search-box{
    width: 440px;
}

.item{
    margin: auto 20px;
    font-size: 20px;
    opacity: 0;
    transition-delay: 0.3s;
    transition: all 0.3s ease;
}
.container:hover .item{
    opacity: 1;
}

.search-btn{
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    background: inherit;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.search-btn::placeholder{
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 10px #f3f3f3;
}
.container:hover .search-btn::placeholder{
    color: rgba(119, 119, 119, 0.9);
}